<%= render 'layouts/navigation' %>

<h1><em>A New Day, The Technomage Archive (Prequel Novellette)</em></h1>

<div class='container'>
  
  <div class="row">
    <div class="center col-md-4 thumbnail"><%= image_tag("A_NEW_DAY_Cover.jpg", class: "img-fluid") %></div>
      <div class="col-md-6">
              <h2>A New Day is a prequel novelette to The Technomage Archive trilogy. It was originally provided to Kickstarter backers under the title <em>The First Day</em>. This is a much revised and much expanded version.</h2>
              <p>Damien Vennar wanted to save the world.</p>
              <p>He created an experimental new technique that could potentially grant people immortality by replacing their blood with nanomachines. Damien saw the potential to remove death and disease from the world. The procedure, however, had some unintended consequences--mainly that the subject dies during the procedure. </p>
              <p>Unwilling to test the procedure on anyone else, Damien undergoes the operation himself. Before he could fully understand the changes in his body, his research facility is attacked by opponents who believe his science is unethical and dangerous to the world. How he handles this conflict will change the direction of the world forever. </p>
                <p>&nbsp;</p>
              <h2>A New Day can be purchased at the following retailers:</h2>
            <div class="col-md-offset-3 container"><%= link_to "Amazon Kindle", 'http://www.amazon.com/dp/B00Y8NH5ZI', class: "btn btn-lg btn-info" %></div>
      </div>
  </div>

  </div>
  