<%= render 'layouts/navigation' %> 

<div class="center container jumbotron">
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//bjkeeton.us1.list-manage.com/subscribe/post?u=8a78d9a6f96082949ba582ee6&amp;id=f6c2d7ce02" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>New Release and Book Update Newsletter</h2>
	
	<div class="container">
	  <h2>Want to always know what's going on with B.J.'s awesome books and stories?</h2>
<p>Sign up for my newsletter, and you'll get notified when I release new books and stories.</p>
<p>And hey, you'll get a <em>free book</em> just for subscribing <strong>(and advance copies of all my novels before they're released)!</strong></p>
<p>Ain't life grand?</p>
	</div>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8a78d9a6f96082949ba582ee6_f6c2d7ce02" tabindex="-1" value=""></div>
    <center>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-custom"></div>
    <p><a href="http://us1.campaign-archive1.com/home/?u=8a78d9a6f96082949ba582ee6&id=f6c2d7ce02" title="View previous campaigns">View previous campaigns.</a></p>
    <p style="font-size: 75%"><em>I respect your privacy. I will never sell or give away your email, and you can opt-out any time.</em></p>
    </div>
    </center>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

</div> <!-- container jumbotron -->