<%= render 'layouts/navigation' %>
<% @title = "Sam and Ash" %>
<%= render 'layouts/footer' %>
<h1><em>Sam and Ash Go Hunting For Space Treasure!</em></h1>

<div class='container'>
  
  <div class="row">
    <div class="center col-sm-4 thumbnail"><%= image_tag("SAM_AND_ASH_Cover.jpg", class: "img-fluid") %></div>
      <div class="col-sm-8">
        <h2>The Innkeepers is a pulpy, fun adventure series that doesn't take itself too seriously.</em></h2>
        <p>A married couple who owns a space-faring bed-and-breakfast gets caught up in an interplanetary treasure hunt, and the fate of the solar system may just hang in the balance.</p>
        <p class="center"><em>More info soon! Be sure to sign up for <%= link_to "my newsletter", newsletter_path %> to read the novel before anyone else!</em></p>
        <p class="center"><em><strong>(Subscribers get free advance copies of all my books, remember!)</strong></em></p>
        <p>&nbsp;</p>
      </div>
  </div>
