<%= render 'layouts/navigation' %>

<h1><em>Sam and Ash Go Hunting For Space Treasure!</em></h1>

<div class='container'>
  
  <div class="row">
    <div class="center col-md-4 thumbnail"><%= image_tag("SAM_AND_ASH_Cover.jpg", class: "img-fluid") %></div>
      <div class="col-md-8">
        <h2>The Innkeepers is a pulpy, fun adventure series that doesn't take itself too seriously.</em></h2>
        <p>More info soon! Be sure to sign up for <%= link_to "my newsletter", newsletter_path %> to find out about the release before anyone else!</p>
        <p>&nbsp;</p>
      </div>
  </div>
